@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "HelveticaExtended";
  src: url("/fonts/HelveticaExtendedBQ-Bold.woff2") format("woff2"),
    url("/fonts/HelveticaExtendedBQ-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HelveticaExtended", sans-serif;

}

.sidebar {
  background-color: #ffefe3;
  background-image: url(/images/sidebar-bottom-bg.png), url(/images/sidebar-top-bg.png);
  background-position: right bottom, right top;
  background-repeat: no-repeat, no-repeat;
}

.overview {
  /* ? */
  /* aspect-ratio: 4/3; */
}

.overview-wrapper {
  background: url(/images/circle-waves.png) no-repeat center center;
  background-size: contain;
}